html,
body {
  min-height: 100%;
  background-color: #fff;
  font-weight: 400; }

a {
  text-decoration: none !important; }

section#index {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center; }
  section#index h3 {
    padding: 16px 0;
    font-weight: bold;
    line-height: 1.3; }
  section#index button {
    width: 120px;
    margin: 16px;
    font-size: 16px; }

#login_form button {
  font-size: 16px; }

#login_form .controll-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 40px; }

#signup_form label {
  margin-top: 15px; }

#signup_form button {
  font-size: 16px; }

#signup_form .controll-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 40px; }

.bhoechie-tab-menu .list-group .list-group-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .bhoechie-tab-menu .list-group .list-group-item span {
    margin-left: 15px;
    font-size: 15px; }

.bhoechie-tab-menu .list-group .list-group-item:hover span,
.bhoechie-tab-menu .list-group .list-group-item.active span {
  font-weight: bold; }

.bhoechie-tab-content {
  display: none;
  padding-bottom: 20px; }
  .bhoechie-tab-content.active {
    display: block; }

#household_page > h3 {
  margin-top: 0;
  color: #55518a; }

#household_page .alert {
  display: none; }

#household_page .titlelabel {
  margin-top: 0;
  color: #55518a;
  border-bottom: 1px solid #ddd; }

#household_page .homeaddress {
  padding-top: 0px; }

#household_page .homeaddress-city,
#household_page .shippingaddress-city {
  width: 35%;
  display: inline-block; }

#household_page .homeaddress-state,
#household_page .shippingaddress-state {
  width: 18%;
  display: inline-block; }

#household_page .homeaddress-zipcode,
#household_page .shippingaddress-zipcode {
  width: 14%;
  display: inline-block; }

#household_page .homeaddress-country,
#household_page .shippingaddress-country {
  width: 30%;
  display: inline-block; }

#household_page input::-webkit-input-placeholder {
  font-style: italic; }

#household_page input::-moz-placeholder {
  font-style: italic; }

#household_page input:-ms-input-placeholder {
  font-style: italic; }

#household_page input:-moz-placeholder {
  font-style: italic; }

#household_page input[type=submit] {
  margin-top: 20px;
  float: right; }

.student-name-bar {
  height: 40px;
  margin: 0 0 10px 15px;
  border-bottom: 1px solid #bbb; }

.student-name-bar label {
  font-size: 22px;
  font-weight: normal; }

.student-name-bar button {
  float: right;
  margin-left: 15px; }

.student-birth-grade {
  margin: 0 0 30px 15px;
  font-size: 15px;
  font-weight: normal;
  color: #555; }

.student-birth-grade :nth-child(3) {
  margin-left: 35px; }

.student-enrollmentoptions {
  width: 50%;
  margin: 0 0 10px 15px;
  border-bottom: 1px solid #bbb;
  font-size: 18px; }

.student-enrollmenttype label {
  margin: 0 0 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: #555; }

.students-not-enrolled {
  margin: 10px;
  background-color: #ffffe0;
  border-radius: 3px;
  padding: 5px; }

.students-not-enrolled table,
.students-not-enrolled table th {
  text-align: center;
  padding: 6px; }

.students-not-enrolled table td {
  padding: 0 6px 9px 6px; }

.students-not-enrolled table tbody tr td button#btnDispalyDeleteStudentModal {
  display: none; }

.students-not-enrolled table tbody tr:hover td button#btnDispalyDeleteStudentModal {
  display: block; }

#btnAddSelectedStudents {
  margin: 0 12px 0 12px; }
