@import '_style-variables';
@import '_style-mixins';

.input-group-addon {
	&.primary {
		color: rgb(255, 255, 255);
	  background-color: rgb(50, 118, 177);
	  border-color: rgb(40, 94, 142);
	}
	&.success {
	  color: rgb(255, 255, 255);
	  background-color: rgb(92, 184, 92);
	  border-color: rgb(76, 174, 76);
	}
	&.info {
	  color: rgb(255, 255, 255);
	  background-color: rgb(57, 179, 215);
	  border-color: rgb(38, 154, 188);
	}
	&.warning {
	  color: rgb(255, 255, 255);
	  background-color: rgb(240, 173, 78);
	  border-color: rgb(238, 162, 54);
	}
	&.danger {
	  color: rgb(255, 255, 255);
	  background-color: rgb(217, 83, 79);
	  border-color: rgb(212, 63, 58);
	}
}

// Button
.btn-opt.active, 
.btn-opt.active:hover,
.btn-opt.active:active,
.btn-opt.active:focus {
  color: #fff;
  background-color: #3f8b3f;
  border-color: #398439;
}

