.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

/*** Button Style ***/
.btn-opt.active, 
.btn-opt.active:hover,
.btn-opt.active:active,
.btn-opt.active:focus {
  color: #fff;
  background-color: #3f8b3f;
  border-color: #398439;
}

/*** Tab's Style ***/
.bhoechie-tab-content {
  display: none;
}

.bhoechie-tab-content.active {
  display: block;
}

/*** table class modify ***/
table.table {
  margin-bottom: 0px !important;
}

.titlelabel {
  margin-top: 0;
  color:#55518a;
}

.homeaddress, .shippingaddress {
	display: block;
	padding: 10px 0px 0px 10px;
	border-top: 1px solid #ddd;
	font-size: 18px;
}

.homeaddress-city, .shippingaddress-city {
	width: 50%;
	display: inline-block;
}
.homeaddress-state, .shippingaddress-state {
	width: 18%;
	display: inline-block;
}
.homeaddress-zipcode, .shippingaddress-zipcode {
	width: 28%;
	display: inline-block;
}
.homeaddress-country, .shippingaddress-country {
	margin-left: 52%;
}

/*** Student Infomation ***/
.student-name-bar {
  height: 40px;
  margin: 0 0 10px 15px;
  border-bottom: 1px solid #bbb;
}
.student-name-bar label {
  font-size: 22px;
  font-weight: normal;
}
.student-name-bar button {
  float: right;
  margin-left: 15px;
}
.student-birth-grade {
  margin: 0 0 30px 15px;
  font-size: 15px;
  font-weight: normal;
  color: #555;
}
.student-birth-grade label:nth-child(2) {
  margin-left: 35px;
}
.student-enrollmentoptions {
  width: 50%;
  margin: 0 0 10px 15px;
  border-bottom: 1px solid #bbb;
  font-size: 18px;
}
.student-enrollmenttype label{
  margin: 0 0 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: #555;
}

.students-not-enrolled {
  margin: 10px;
  background-color: #ffffe0;
  border-radius: 3px;
  padding: 5px;
}
.students-not-enrolled table,
.students-not-enrolled table th {
  text-align: center;
  padding: 6px;
}
.students-not-enrolled table td {
  padding: 0 6px 9px 6px;
}
.students-not-enrolled table tbody tr td button#btnDispalyDeleteStudentModal {
  display: none;
}
.students-not-enrolled table tbody tr:hover td button#btnDispalyDeleteStudentModal {
  display: block;
}
#btnAddSelectedStudents {
  margin: 0 12px 0 12px;
}